*.a
*.la
*.lo
*.o
.dep.inc
.deps
.libs
/aclocal.m4
/autom4te.cache
/build
/config.*
/configure
/depcomp
/doc/sally.man
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/sally-*.tar.gz
/sally.xcodeproj
/stamp-h1
Makefile
Makefile-sally.mk
Makefile.in
doc/html
nbproject/
src/sally
tests/test_*
.DS_Store
