*.a
*.la
*.lo
*.o
.DS_Store
.dep.inc
.deps
.libs
/a.out.dSYM/
/aclocal.m4
/autom4te.cache
/build
/config.*
/configure
/depcomp
/doc/sally.man
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/sally-*.tar.gz
/sally.xcodeproj
/stamp-h1
Makefile
Makefile-sally.mk
Makefile.in
doc/html
doc/latex-pre.inc
doc/sally.pdf
doc/sally.txt
nbproject/
sally.komodoproject
src/sally
src/sally.h
tests/test_*
