
# Configuration of input
input = {
	# Format of input. Supported types "dir", "arc", "lines"
	format		= "fasta";

        # Number of strings to process in one chunk
	chunk_size	= 256;
};

# Configuration of feature extraction
features = {
	# Length of n-grams.
	ngram_len	= 1;

        # Delimiters for n-grams. An empty string trigger byte n-grams.
	ngram_delim	= "%0a%0d%20";

        # Embedding mode for vectors. Supported types "cnt", "bin", "tfidf"
	vect_embed	= "cnt";

        # Normalization mode for vectors. Supported types "l1", "l2", "none".
	vect_norm	= "l1";

        # Number of hash bits to use. 
	hash_bits	= 26;

        # Maintain explicit representation of hash.
	explicit_hash	= 0;

	# TFIDF normalization file
	tfidf_file	= "tfidf.fv";
};
  
# Configuration of output
output = {
	# Format of output. Supported types: "libsvm", "text", "matlab"
	format		= "text";
};
